@import "./base/reset";
@import "./base/base";
 //blocks
@import  "./block/header";
@import  "./block/main";
@import  "./block/options";
@import  "./block/collect";
@import  "./block/drops";
@import  "./block/creators";
@import  "./block/footer";