.nav {
    padding-top: 48px;
}
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    a {
        background: linear-gradient(83.53deg, #43E97B 0%, #43E97B 0.01%, #38F9D7 103.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigation__list {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        :not(:last-child) {
            margin-right: 40px;
        }
    }
}
.nav-buttons {
    margin-left: 95px;
    button {
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
    }
}