
.options-list {
    margin-top: 70px;
    ul {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    li {
        padding-top: 40px;
        width: 242px;
        height: 201px;
        background: #160C2E;
        border-radius: 20px 20px 0px 0px;
        border: 1px solid;
        border-image-source: linear-gradient(163.32deg, rgba(67, 233, 123, 0.6) 0.01%, #170C2E 65.3%);
        border-image-slice: 1;
        p {
            padding-top: 20px;
            font-size: 25px;
            font-weight: 700;
        }
    }
}


